.linearLoading {
    height: 0.2rem;
    background-color: rgba(255, 255, 255, 0.068);
}

.linearLoading__container {
    position: relative;
    height: 100%;
    width: 100%;
}

.linearLoading__container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.705);
    animation: lineLoading ease 2s infinite;
}

.linearLoading__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-120%);
    background-color: rgba(255, 255, 255, 0.705);
    animation: lineLoading ease 2s infinite;
    animation-delay: 1s;
}

@keyframes lineLoading {
    from {
        transform: translateX(-120%);
        width: 100%;
    }

    to {
        transform: translateX(120%);
    }
}